# Environment
ENV=prod

# Auth credentials
AUTH_LOGIN=standard_user
AUTH_PASSWORD=secret_sauce

# Base URLs
BASE_URL=https://www.saucedemo.com
BASE_URL_PROD=https://www.saucedemo.com
BASE_URL_STAGING=https://staging.saucedemo.com

# Visual regression thresholds
VISUAL_THRESHOLD=0.1